@use '../../styles/variables' as *;

.root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.main {
  flex: 1;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: var(--space-6);

  @include bottom-nav-space {
    padding-bottom: calc(var(--bottomnav-height) + var(--space-6));
  }
}

.content {
  width: 100%;
  // max-width: 700px;

  // @include respond-to('tablet') {
  //   max-width: 960px;
  // }
}

.header {
  margin-bottom: var(--space-4);
}

.title {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--color-text-primary);
}
